ion-avatar{
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    --border-radius: 20px
}
.glass-content {
    width: 100%;
    min-height: 100vh;
    background: rgb(53, 51, 51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.2px);
    -webkit-backdrop-filter: blur(13.2px);
    border: 1px solid rgb(255, 255, 255);
}
.back-button{
   color: white;
}